/*
:root {
	--bg-color: #333;
	--main-color: #d07;
	--main-text: #222;
	--header-color: #222;
	--select-border: #eee;

	--head-background: #eee;
	--head-text: #222;
	--head-contrast: #222;
	--head-additive: #fff2;
	
	--nav-background: #333;
	--nav-text: #fff;
	--nav-contrast: #222;
	--nav-additive: #fff2;
	
	--main-background: #d07;
	--main-text: #222;
	--main-contrast: #eee;
	--main-additive: #fff2;
}
*/

:root {
	
	--header-background: #222;
	--header-text: #eee;
	--header-contrast: #1a1a1a;
	--header-additive: #1112;
	
	--nav-background: #333;
	--nav-text: #fff;
	--nav-contrast: #222;
	--nav-additive: #0002;
	
	--main-background: #d3236d; /* #d07 */
	--main-text: #222;
	--main-contrast: #eee;
	--main-additive: #0002;
	--main-lighten: #fff2;
	--main-light: #fffa;
	
	scrollbar-color: var(--header-background) transparent;
	
}

:root[light] {
	
	--header-background: #ccc;
	--header-text: #222;
	--header-contrast: #f6f6f6;
	--header-additive: #eee2;
	
	--nav-background: #ddd;
	--nav-text: #333;
	--nav-contrast: #eee;
	--nav-additive: #fff3;
	
	--main-text: #222;
	--main-contrast: #eee;
	--main-additive: #0002;
	--main-lighten: #fff2;
	--main-light: #fffa;
	
}

*:focus {
	outline: .2em solid rgba(255,255,255,0.6);
}

html,body {
	font-family: "Source Sans Pro", sans-serif;
	align-items: center;
	justify-content: center;
	background-color: var(--nav-background);
	/* overflow-x: hidden; */
}

/* headings */


header {
	display: flex;
	width: 100vw;
	max-width: 100%;
	height: 12rem;
	background-color: var(--header-background);
	justify-content: center;
	align-items: center;
	color: var(--header-text);
}

header h1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: 3em;
	margin: 0 auto 3rem;
	font-weight: 100 !important;
	width: 1000px;
	max-width: calc(100% - 10rem);
	gap: .5em;
}

header h1 img {
	display: flex;
	max-width: 4rem;
	max-height: 4rem;
	background-color: var(--header-contrast);
	border-radius: .5rem;
}

@media only screen and (max-width: 800px) {
	header {
		height: 10rem;
		align-items: center;
	}

	header h1 img {
		max-width: 2.5rem;
		max-height: 2.5rem;
	}
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
	header h1 {
		max-width: calc(100% - 1rem);
		margin: -3rem auto 0;
		font-size: 2rem;
	}
}


@media only screen and (max-width: 400px) {
	header h1 {
		max-width: calc(100% - 1rem);
		margin: -6rem auto 0;
		font-size: 2rem;
	}

}

#nav-main {
	display: flex;
	flex-direction:row;
	margin: 0 auto;
	width: 1000px;
	max-width: calc(100% - 10em);
	height: 3em;
	margin-top: -3em;
	align-content: flex-start;
	align-items: flex-start;
	gap: .5em
}

@media only screen and (max-width: 800px) {
	#nav-main {
		max-width: calc(100% - 1rem);
	}
}

#nav-main a {
	display: flex;
	flex-grow: 0;
	height: 3em;
	padding: .5em 1em;
	color: var(--nav-text);
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--nav-additive);
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1rem;
	transition: background-color .2s;
}

#nav-main a:hover {
	background-color: var(--header-contrast);
	color: var(--header-text);
	
}

#nav-main a.current {
	background-color: var(--main-background);
	color: var(--main-text);
}

#nav-main a.current:hover {
	box-shadow: inset var(--main-lighten) 0 3.5em 1em -1em;
}

#nav-meta-wrapper {
	position: sticky;
	top: 0px;
}

#nav-meta {
	display: flex;
	flex-direction: column;
	position: absolute;
	/* right: calc(50% + 500px + 1em); */
	left: calc((50% - min(1000px, calc(100% - 10em)) / 2) - 4em);
	gap: 1em;
	margin-top: 1em;
}

#nav-meta a {
	display: flex;
	height: 3em;
	width: 3em;
	padding: .5em;
	color: var(--nav-text);
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--nav-additive);
	text-transform: uppercase;
	border-radius: .5em;
}

#nav-meta a:hover {
	background-color: var(--nav-contrast);
}

#nav-meta a.current {
	color: var(--main-text);
	background-color: var(--main-background);
}

#nav-meta a:hover.current {
	box-shadow: inset var(--main-lighten) 0 0 0 2em;
}

@media only screen and (max-width: 401px) and (max-width: 800px) {
	#nav-meta-wrapper {
		position: absolute;
		top: 6.5rem;
		right: 0;
	}
	
}

@media only screen and (max-width: 400px) {
	#nav-meta-wrapper {
		position: absolute;
		top: 3.5rem; 
		right: auto;
		left: 0;
	}
}
	
@media only screen and (max-width: 800px) {
	#nav-meta {
		display: flex;
		position: relative;
		flex-direction: row;
		left: auto;
		gap: .5rem;
		margin-top: 0;
		padding: .5rem;
		justify-content: center;
	}

	#nav-meta a {
		height: 2.5rem;
		width: 2.5rem;
	}

}

main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-self: stretch;
	width: 1000px;
	max-width: calc(100% - 10em);
	min-height: calc(100vh - 200px);
	padding: 5rem;
	background-color: var(--main-background);
	color: var(--main-text);
	gap: 3rem;
}

@media only screen and (max-width: 800px) {
	main {
		max-width: 100%;
		padding: 2rem 1rem 2rem 1rem;
	}
}

main :is(h1, h2, h3, h4, h5, h6) {
	font-weight: 400;
	margin: 0;
	padding: 0;
} 

section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	background-color: var(--main-color);
	gap: 1em;
	
}

.login form {
	max-width: 25rem;
}

.notification {
	background-color: #222;
	color: #fff;
	font-weight: 300;
	padding: 1rem;
	border-radius: .2rem;
	line-height: 1.4em;
}

main article {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: .5rem;
}

main article h2 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
}

main article a {
	color: var(--main-text);
}

main article .content-wrapper {
	display: flex;
	flex-direction: column;
	background: var(--main-additive);
	padding: .5rem .5rem;
	gap: .5rem;
	border-radius: .3rem;
}

main article .content-wrapper > .content {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

main article .content-wrapper > .content.tweet > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .3em;
}

main article .content-wrapper > .content.tweet > a img {
	display: flex;
	height: 1.2em;
	width: 1.2em;
	border-radius: 1em;
}

main article .content-wrapper > .content.tweet .tweet.wrapper {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

main article .content-wrapper > .content.tweet .content.tweet {
	position: relative;
	background-color: var(--main-lighten);
	padding: .7rem;
	border-radius: .2rem;
}

main article .content-wrapper > .content.tweet .content.tweet::after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-right: 5px solid transparent;
	border-left: 5px solid var(--main-lighten);
	border-top: 5px solid var(--main-lighten);
	border-bottom: 5px solid transparent;
	right: 1rem;
	bottom: calc(-10px);
}

main article video,
main article audio,
main article img {
	width: 100%;
	height: auto;
}

main article .embed {
	display: flex;
}

main article .embed iframe {
	width: 100%;
	max-width: 100%;
	max-height: calc((var(--main-width) - 1rem) / 4 * 3); /* i wish object-contain would just work */
	object-fit: contain;
	border: none;
}

main article .tags {
	display: flex;
	gap: .2rem;
}

main article .tags a {
	display: flex;
	background-color: var(--main-text);
	color: var(--main-contrast);
	text-decoration: none;
	border-radius: .2rem;
	padding: .2rem .5rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: .8rem;
}

main article .meta {
	position: relative;
}

main article .authors {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 3rem;
	left: -3.5rem;
	gap: .5rem;
	margin-top: .5rem;
}

@media only screen and (max-width: 800px) {

	main article .content-wrapper {
		order: 2;
	}
	
	main article .meta {
		order: 3;
	}

	main article .action {
		order: 4;
	}

	main article .authors {
		flex-direction: row;
		left: 0;
		margin-top: 0;
	}

	/*
	main article .authors {
		position: relative;
		flex-direction: row;
		left: 0;
		margin-top: 0;
	}
	*/
}


/*
main article h2 + * + .authors {
	top: 2.3rem;
}
*/

main article .authors a {
	display: flex;
	background-color: var(--main-additive);
	flex-direction: column;
	align-items: center;
	color: var(--main-text);
	border-radius: .3rem;
}

main article .authors a img {
	display: flex;
	border-radius: .3rem;
}

main article .action {
	opacity: 0;
	display: flex;
	flex-direction: row;
	gap: .5rem;
	justify-content: flex-end;
}

main article .action:focus,
main article .action:focus-within,
main article:hover .action {
	opacity: 1;
}

main article .action label {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--main-text);
}

@media only screen and (max-width: 400px) {
	main article .action button span {
		display: none;
	}
}

main p {
	margin: 0;
}

main #end {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	font-size: 1.5rem;
	gap: .25em;
}

main #end a {
	color: var(--main-text);
}

/* settings */

.settings-avatar {
	display: flex;
	gap: 1em;
	flex-direction: row;
	align-items: center;
}

.settings-avatar input[type=file] {
	display: none;
}

.settings-avatar .avatar {
	width: 128px;
	height: 128px;
	border: 1px solid #fff;
	object-fit: cover;
	cursor: pointer;
}

/* subscriptions */

.subscription {
	display: flex;
	flex-direction: row;
	background-color: var(--main-additive);
	padding: .75rem;
	gap: .75rem;
	align-items: center;
	border-radius: .3rem;
	color: var(--main-text);
}

.subscription .avatar {
	display: flex;
	width: 48px;
	height: 48px;
	background: var(--main-additive);
	border-radius: .3rem;
}

.subscription .info {
	flex-grow: 1;
}

.subscription .info a {
	color: var(--main-text);
}

.subscription .info h2 a {
	color: var(--main-text);
	text-decoration: none;
}

.subscription .action {
	flex-grow: 0;
	height: auto;
	display: flex;
}